## Archivo template para iniciar

In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random as rd
%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [5]:
#Levantar los datos de cada edificio/casa
df = pd.read_csv('train_values.csv')
df2 = pd.read_csv('train_labels.csv',dtype={'building_id':np.int32,'damage_grade':np.int8})

In [11]:
#Convert to correct dtype
df.iloc[:,0:1] = df.iloc[:,0:1].astype(np.int32)
df.iloc[:,1:8] = df.iloc[:,1:8].astype(np.int16)
df.iloc[:,8:15] = df.iloc[:,8:15].astype('category')
df.iloc[:,15:26] = df.iloc[:,15:26].astype(np.bool)
df.iloc[:,26] = df.iloc[:,26].astype('category')
df.iloc[:,27] = df.iloc[:,27].astype(np.int16)
df.iloc[:,28:39] = df.iloc[:,28:39].astype(np.bool)
#los min y max de cada columna 
#pd.concat([df.min(),df.max()],axis=1).rename(columns={0:'min',1:'max'})
#Lo que ocupa en memoria 12.4 MB
#df.info()
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,False,False,False
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,False,False,False
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,False,False,False
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,False,False,False
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,False,False,False

In [12]:
df2.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

## TO DO