In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random as rd
%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
from scipy.stats.mstats import winsorize

## Carga de datos

Se cargan las columnas con formatos adecuados según el tipo de datos.  
Se usa como índice building_id para train_values y train_labels

In [3]:
# Train values
# Levantar los datos de cada edificio/casa
df = pd.read_csv('datos/train_values.csv',nrows=0)
columnas = df.columns.to_list()
datatypes = {
    **{columnas[0]:np.int32}\
    , **{column:np.int16 for column in columnas[1:8] + columnas[27:28]}\
    , **{column:'category' for column in columnas[8:15] + columnas[26:27]}\
    , **{column:np.bool for column in columnas[15:26] + columnas[28:39]}
}
train_values = pd.read_csv('datos/train_values.csv',dtype=datatypes)
train_values = train_values.set_index("building_id")
columnas = train_values.columns.to_list()

In [4]:
#Train labels
train_labels = pd.read_csv('datos/train_labels.csv',index_col='building_id')

# Otros

In [5]:
df1 = pd.read_csv('submissions/submission1.csv', index_col='building_id')
df2 = pd.read_csv('submissions/submission2.csv', index_col='building_id')

In [6]:
dict1 = df1.to_dict()['damage_grade']
dict2 = df2.to_dict()['damage_grade']
set1 = set(dict1.items())
set2 = set(dict2.items())
building_ids_difference = (set1 ^ set2)
building_ids_difference = [edificio_daño[0] for edificio_daño in building_ids_difference]
x1 = df1.loc[df1.index.isin(building_ids_difference),:]
x2 = df2.loc[df1.index.isin(building_ids_difference),:]
x1.join(x2,on='building_id',lsuffix='_submission1', rsuffix='_submission2')

             damage_grade_submission1  damage_grade_submission2
building_id
745817                              1                         2
517764                              2                         1
65760                               2                         3
127674                              3                         2
992040                              2                         3
...                               ...                       ...
392512                              2                         3
594092                              2                         1
660885                              1                         2
1051332                             2                         3
501372                              1                         2

[5790 rows x 2 columns]